/********************************************************
 RESPONSIVE.CSS

 MEDIA QUERY STYLES FOR MEDIUM AND LARGER SCREENS
 BASE STYLES IN STYLES.CSS 
********************************************************/

/*********************************************************
 MEDIUM SCREENS
**********************************************************/
@media screen and (min-width: 500px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/

	
	
	/*********************************************************
	 HEADER 500px
	**********************************************************/
	.headerInnerWrap {
		padding-left: 35px;
	}
	
	header img {
		width: 5vw;
		height: 3.9vw;
		margin-right: 15px;
	}
	
	header h1 {
		font-size: 5vw;
		line-height: 45px;
	}

	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV
	**********************************************************/

	/*** END NAV *********************************************/

	

	/*********************************************************
	 MAIN WRAP 500px
	**********************************************************/
	.mainWrap {
		padding-top: 40px;
		padding-left: 35px;
	}
	
	.movieWrap {
		width: 150px;
		height: 210px;
	}
	
	.yourMovie {
		margin-top: 25px;
	}
	
	.movieCerchForm label {
		font-size: 2em;
	}
	/*** END MAIN WRAP ***************************************/

	
	
	/*********************************************************
	 MODAL 500px
	**********************************************************/
	.movieTitle {
		font-size: 2.5em;
	}
	
	.movieInfo li img {
		height: 200px;
		margin-right: 5px;
	}
	/*** END MODAL *********************************************/
	
	

	/*********************************************************
	 FOOTER 500px
	**********************************************************/
	.footerInnerWrap {
		padding-left: 35px;
	}
	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/



/*********************************************************
 MEDIUM/LARGE SCREENS
**********************************************************/
@media screen and (min-width: 750px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/

	
	
	/*********************************************************
	 HEADER 750px
	**********************************************************/
	header img {
		width: 4vw;
		height: 2.9vw;
		margin-right: 15px;
	}
	
	header h1 {
		font-size: 4vw;
		line-height: 55px;
	}
	/*** END HEADER ******************************************/

	

	/*********************************************************
	 NAV
	**********************************************************/

	/*** END NAV *********************************************/

	

	/*********************************************************
	 MAIN WRAP 750px
	**********************************************************/
	.movieWrap {
		width: 200px;
		height: 280px;
	}
	
	.intro {
		font-size: 1.25em;
	}
	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1000px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	
	
	
	/*********************************************************
	 HEADER
	**********************************************************/

	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV
	**********************************************************/

	/*** END NAV *********************************************/

	

	/*********************************************************
	 MAIN WRAP
	**********************************************************/

	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END LARGE SCREENS ****************************************/



/*********************************************************
 X lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1250px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	
	
	
	/*********************************************************
	 HEADER
	**********************************************************/

	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV
	**********************************************************/

	/*** END NAV *********************************************/

	

	
	/*********************************************************
	MODAL
	**********************************************************/
	.modal {
		margin-left: -600px;
	}
	
	.arrowFixed {
		margin-left: 0px;
	}
	/*** END MODAL *********************************************/
	
	

	/*********************************************************
	 MAIN WRAP
	**********************************************************/
	
	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END X LARGE SCREENS **************************************/